<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AdoCon" value ="0Wslar3pyrSVk1BZQbUr3qzXhcLLHLLnqdt2gz1PyTw7UbqIBe456CQDFaVGBD4MVtS8YggkZGpSa+HxT5yDYkuC+OM+VKqJJKjTehb1Hr5zg4buMuvjrEpE6Y39jewqRjX/Pv3iYxmSVCTgqR4gIo+OPCZhzjWv8uqVvkPLXZY="/>
  </appSettings>
</configuration>